/*

TemplateMo 560 Astro Motion

https://templatemo.com/tm-560-astro-motion

*/

html,
body,
.page-container {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    font-weight: 300;
    color: white;
    line-height: 1.5;
}

a {
    color: #9F6;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: #3CF;
}

p {
    line-height: 1.7;
}

h2 {
    font-size: 1.8rem;
}

.highlight {
    color: #99FF66;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.container-fluid {
    max-width: 1860px;
}

.btn {
    font-size: 1.3rem;
    padding: 13px 23px;
    border-radius: 0;
}

.btn-primary {
    background-color: white;
    border: none;
    color: #333;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #5cac38;
    background-color: white;
}


/* Style the video: 100% width and height to cover the entire window */

#bg-video {
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    background-image: url(../img/tm-astro-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#tm-nav {
    z-index: 1000;
}

.navbar a {
    color: white;
}

.navbar-brand img {
    width: 20rem;
}

.navbar {
    margin-top: 15px;
}

.navbar .navbar-nav .nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.navbar .navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-size: 1.5rem;
    padding: 15px 65px;
    border-bottom: 1px solid white;
}

.nav-item {
    position: relative;
}

.circle {
    position: absolute;
    left: calc(50% - 10px);
    bottom: -10px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}

.tm-border-bottom {
    border-bottom: 1px solid white;
    padding-bottom: 48px;
}

.tm-border-top {
    border-top: 1px solid white;
    padding-top: 48px;
}

.navbar .navbar-nav .nav-item.selected .nav-link,
.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #99FF66;
    border-bottom: 1px solid #99FF66;
}

.cd-slider-nav li.selected a+.circle,
.navbar .navbar-nav .nav-item .nav-link:hover+.circle {
    background-color: #99FF66;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border: 1px solid rgba(255, 255, 255, 1);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.tm-link-white {
    color: white;
}

.tm-link-white:hover,
.tm-link-white:focus {
    color: #99FF66;
}

.cd-hero-slider {
    padding: 10px 0;
}

.cd-hero-slider li {
    list-style: none;
}

.content-pad {
    padding: 40px 30px;
}

.page-width-1 {
    max-width: 810px;
}

.page-width-2 {
    max-width: 912px;
}

.page-left {
    margin-left: 100px;
}

.page-right {
    margin-right: 100px;
    margin-left: auto;
}

.tm-bg-dark {
    background-color: rgba(0, 0, 0, 0.3);
}

.intro-left {
    margin-right: 20px;
    padding: 30px 40px;
    max-width: 505px;
}

.intro-img-1 {
    /* margin-bottom: 20px; */
    width: 30rem;
}

.intro-circle-1 {
    left: -20px;
    top: -10px;
}

.intro-circle-2 {
    right: -20px;
    top: -10px;
    left: auto;
}

.intro-circle-3 {
    right: -20px;
    bottom: -10px;
    left: auto;
}

.intro-circle-4 {
    left: -20px;
    bottom: -10px;
}

.tm-intro-btn {
    margin-top: 25px;
    border-radius: 3rem;
}

.tm-footer {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* Gallery page */

.cr-container {
    width: 600px;
    height: 650px;
    position: relative;
    margin: 0 auto;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.cr-container label {
    font-style: italic;
    width: 150px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    line-height: 32px;
    font-size: 24px;
    float: left;
    position: relative;
    margin-top: 660px;
    z-index: 1000;
}

.cr-container label:before {
    content: '';
    width: 34px;
    height: 34px;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 50%;
    margin-left: -17px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 4px rgba(153, 255, 102, 0.6);
    z-index: -1;
}


/* .cr-container label:after {
    width: 1px;
    height: 400px;
    content: '';
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    position: absolute;
    bottom: -20px;
    right: 0px;
} */

.cr-container label.cr-label-img-4:after {
    width: 0px;
}

.cr-container input.cr-selector-img-1:checked~label.cr-label-img-1,
.cr-container input.cr-selector-img-2:checked~label.cr-label-img-2,
.cr-container input.cr-selector-img-3:checked~label.cr-label-img-3,
.cr-container input.cr-selector-img-4:checked~label.cr-label-img-4 {
    color: rgba(153, 255, 102, 0.9);
}

.cr-container input.cr-selector-img-1:checked~label.cr-label-img-1:before,
.cr-container input.cr-selector-img-2:checked~label.cr-label-img-2:before,
.cr-container input.cr-selector-img-3:checked~label.cr-label-img-3:before,
.cr-container input.cr-selector-img-4:checked~label.cr-label-img-4:before {
    background: #fff;
    box-shadow: 0px 0px 0px 4px rgba(153, 255, 102, 0.6);
}

.cr-container input {
    display: none;
}

.cr-bgimg {
    width: 600px;
    height: 650px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.cr-bgimg {
    background-repeat: no-repeat;
    background-position: 0 0;
}

.cr-bgimg div {
    width: 25%;
    height: 100%;
    position: relative;
    float: left;
    overflow: hidden;
    background-repeat: no-repeat;
}

.cr-bgimg div span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: -150px;
    z-index: 2;
    text-indent: -9000px;
}

.cr-container input.cr-selector-img-1:checked~.cr-bgimg,
.cr-bgimg div span:nth-child(1) {
    background-image: url(../img/cr1.png);
    background-size: cover;
}

.cr-container input.cr-selector-img-2:checked~.cr-bgimg,
.cr-bgimg div span:nth-child(2) {
    background-image: url(../img/cr2.png);
    background-size: cover;
}

.cr-container input.cr-selector-img-3:checked~.cr-bgimg,
.cr-bgimg div span:nth-child(3) {
    background-image: url(../img/cr3.png);
    background-size: cover;
}

.cr-container input.cr-selector-img-4:checked~.cr-bgimg,
.cr-bgimg div span:nth-child(4) {
    background-image: url(../img/projectc.png);
    background-size: cover;
}

.cr-bgimg div:nth-child(1) span {
    background-position: 0px 0px;
}

.cr-bgimg div:nth-child(2) span {
    background-position: -150px 0px;
}

.cr-bgimg div:nth-child(3) span {
    background-position: -300px 0px;
}

.cr-bgimg div:nth-child(4) span {
    background-position: -450px 0px;
}

.cr-container input:checked~.cr-bgimg div span {
    -webkit-animation: slideOut 0.6s ease-in-out;
    -moz-animation: slideOut 0.6s ease-in-out;
    -o-animation: slideOut 0.6s ease-in-out;
    -ms-animation: slideOut 0.6s ease-in-out;
    animation: slideOut 0.6s ease-in-out;
}

@-webkit-keyframes slideOut {
    0% {
        left: 0px;
    }
    100% {
        left: 150px;
    }
}

@-moz-keyframes slideOut {
    0% {
        left: 0px;
    }
    100% {
        left: 150px;
    }
}

@-o-keyframes slideOut {
    0% {
        left: 0px;
    }
    100% {
        left: 150px;
    }
}

@-ms-keyframes slideOut {
    0% {
        left: 0px;
    }
    100% {
        left: 150px;
    }
}

@keyframes slideOut {
    0% {
        left: 0px;
    }
    100% {
        left: 150px;
    }
}

.cr-container input.cr-selector-img-1:checked~.cr-bgimg div span:nth-child(1),
.cr-container input.cr-selector-img-2:checked~.cr-bgimg div span:nth-child(2),
.cr-container input.cr-selector-img-3:checked~.cr-bgimg div span:nth-child(3),
.cr-container input.cr-selector-img-4:checked~.cr-bgimg div span:nth-child(4) {
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    -ms-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    -ms-animation: none;
    animation: none;
    left: 0px;
    z-index: 10;
}

.cr-titles h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 60%;
    left: -100%;
    z-index: 10000;
    opacity: 0;
    color: #000000 !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-transition: opacity 0.8s ease-in-out;
    -moz-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out;
    -ms-transition: opacity 0.8s ease-in-out;
    transition: opacity 0.8s ease-in-out;
}

.cr-titles h3 a {
    position: absolute;
    z-index: 20000;
    width: 100%;
    text-align: center;
    /* top: 70%;
    left: -60%; */
    color: #000000 !important;
    background: rgba(153, 255, 102, 0.831);
    border-radius: 10px;
}


/* .cr-titles h3 span .icon {
    margin: 0;
    padding: 0;
    width: 4rem !important;
    font-size: 4rem;
    z-index: 2;
    color: black !important;
} */

.cr-titles h3 span:nth-child(1) {
    font-size: 70px;
    display: block;
    letter-spacing: 7px;
    /* background: rgba(153, 255, 102, 0.713); */
    z-index: 30;
}

.cr-titles h3 span:nth-child(2) {
    letter-spacing: 0px;
    display: block;
    /* background: rgba(153, 255, 102, 0.713); */
    font-size: 30px;
    padding: 10px;
    /* font-style: italic; */
    font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.cr-container input.cr-selector-img-1:checked~.cr-titles h3:nth-child(1),
.cr-container input.cr-selector-img-2:checked~.cr-titles h3:nth-child(2),
.cr-container input.cr-selector-img-3:checked~.cr-titles h3:nth-child(3),
.cr-container input.cr-selector-img-4:checked~.cr-titles h3:nth-child(4) {
    opacity: 1;
}


/* Media Query: Let's show the inputs on mobile sized browsers because they probably don't support the label trick: */

@media screen and (max-width: 768px) {
    .cr-container input {
        display: inline;
        width: 24%;
        margin-top: 350px;
        z-index: 1000;
        position: relative;
    }
    .cr-container label {
        display: none;
    }
    .cr-titles h3 span:nth-child(2) {
        font-size: 20px;
    }
    .cr-titles h3 {
        position: absolute;
        width: 100%;
        text-align: center;
        top: -5%;
        left: 0%;
        z-index: 10000;
        opacity: 0;
        color: #000000 !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        -webkit-transition: opacity 0.8s ease-in-out;
        -moz-transition: opacity 0.8s ease-in-out;
        -o-transition: opacity 0.8s ease-in-out;
        -ms-transition: opacity 0.8s ease-in-out;
        transition: opacity 0.8s ease-in-out;
    }
}


/* About page */

.tm-about-container {
    border-top: 1px solid white;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    min-height: 100vh;
} */

#list {
    position: relative;
}

#list h2 {
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#list #ul {
    position: relative;
}

#list #ul .li {
    position: relative;
    left: 0;
    color: #fce4ec;
    list-style: none;
    margin: 4px 0;
    border-left: 2px solid #868484;
    transition: 0.5s;
    cursor: pointer;
}

#list #ul .li:hover {
    left: 10px;
}

#list #ul .li p {
    position: relative;
    padding: 8px;
    padding-left: 12px;
    display: inline-block;
    z-index: 1;
    transition: 0.5s;
}

#list #ul .li:hover p {
    color: #111;
    font-weight: bold;
}

#list #ul .li:before {
    content: "";
    position: absolute;
    height: 100%;
    background: #868484;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
}

#list #ul #li1:before {
    width: 100%;
}

#list #ul #li2:before {
    width: 80%;
}

#list #ul #li3:before {
    width: 70%;
}

#list #ul #li4:before {
    width: 60%;
}

#list #ul #li5:before {
    width: 50%;
}

#list #ul #li6:before {
    width: 40%;
}

#list #ul #li7:before {
    width: 30%;
}

#list #ul .li:hover:before {
    transform: scaleX(1);
}


/* Contact page */

.tm-contact-left {
    padding-right: 55px;
}

.form-control {
    font-size: 1.2rem;
    padding: 15px 0;
}

.form-control,
.form-control:focus {
    color: white;
    background-color: transparent;
}

.form-control:focus {
    border-bottom: 1px solid #99FF66;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control::-webkit-input-placeholder {
    color: white;
}

.form-control:-moz-placeholder {
    color: white;
}

.form-control::-moz-placeholder {
    color: white;
}

.form-control:-ms-input-placeholder {
    color: white;
}

.tm-mb-30 {
    margin-bottom: 30px;
}

.tm-mb-45 {
    margin-bottom: 45px;
}

.tm-btn-pad-2 {
    padding: 10px 38px;
}

.map-outer {
    position: relative;
}

.gmap-canvas {
    /* overflow: hidden; */
    background: none!important;
    object-fit: inherit;
}

.map-outer,
.gmap-canvas,
img {
    width: 100%;
}

.tm-footer-right {
    text-align: right;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
}

@media (max-width: 1200px) {
    .navbar .navbar-nav .nav-item .nav-link {
        padding: 15px 45px;
    }
}

@media (max-width: 1024px) {
    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 1.2rem;
    }
}

@media (max-width: 992px) {
    .navbar {
        margin-top: 0;
    }
    .navbar {
        position: relative;
    }
    .navbar-collapse {
        position: absolute;
        top: 63px;
        right: 0;
        background: rgb(54 75 96);
        border-radius: 5px;
    }
    .navbar .navbar-nav .nav-item {
        margin-bottom: 20px;
    }
    .page-left,
    .page-right {
        margin-left: auto;
        margin-right: auto;
    }
    .cd-hero-slider {
        padding: 10px 0;
    }
}

@media (max-width: 834px) {
    .intro-left {
        width: 65%;
    }
    .intro-right {
        width: 35%;
    }
}

@media (max-width: 767px) {
    .tm-contact-left {
        padding-right: 15px;
        margin-bottom: 50px;
    }
    .tm-footer-right {
        text-align: left;
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .intro-left,
    .intro-right {
        width: 100%;
    }
    .intro-left {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: none;
    }
    .intro-right {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .intro-container {
        flex-direction: column;
    }
    .intro-img-1 {
        margin-right: 4%;
        margin-bottom: 0;
        width: 48%
    }
    .intro-img-2 {
        width: 48%;
    }
}


/* Preloader 
	https://ihatetomatoes.net/create-custom-preloading-screen/
*/


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 2001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@keyframes spin {
    0% {
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 2000;
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}


/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */
    transition: all 0.3s 1s ease-out;
}


/* JavaScript Turned Off */

.no-js #loader-wrapper {
    display: none;
}


/*============ Preloader ends ==================================*/